<div class="row">
	<div class="col-md-6">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Pancho</h4>
				<h6 class="card-subtitle">Desde que Andres lo adopto se le nota mas tranquilo y feliz, es demasiado jugueton</h6>
				<ngb-carousel>
					<ng-template ngbSlide>
						<img src="assets/images/big/img1.jpg" alt="Random first slide">
						<div class="carousel-caption">
							<h4 class="text-white font-bold">Pancho ama salir a pasear</h4>
							<p>Su dueño nos manda estas fotos dandonos a conocer el progreso de pancho en adopción</p>
						</div>
					</ng-template>
					<ng-template ngbSlide>
						<img src="assets/images/big/img2.jpg" alt="Random second slide">
						<div class="carousel-caption">
							<h4 class="text-white font-bold">Su dueño ama tomarle fotos</h4>
							<p>A pancho le gusta posar</p>
						</div>
					</ng-template>
					<ng-template ngbSlide>
						<img src="assets/images/big/img3.jpg" alt="Random third slide">
						<div class="carousel-caption">
							<h4 class="text-white font-bold">Adopta</h4>
							<p>Andres nos cuenta que su vida le cambio desde que tiene a pancho</p>
						</div>
					</ng-template>
				</ngb-carousel>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Nutella-Cooker</h4>
				<h6 class="card-subtitle">Ella fue adoptada cuando era bebe, Anita su dueña le ha brindado 
					un nuevo hogar lleno de amor y paciencia.
				</h6>
				<ngb-carousel [showNavigationArrows]="showNavigationArrows" [showNavigationIndicators]="showNavigationIndicators">
					<ng-template ngbSlide>
						<img src="assets/images/big/img4.jpg" alt="Random first slide">
						<div class="carousel-caption">
							<h4 class="text-white font-bold">Adopta</h4>
							<p>Anita nos cuenta que desde que adopto a Nutella ha sido como un impulsador emocional</p>
						</div>
					</ng-template>
					<ng-template ngbSlide>
						<img src="assets/images/big/img5.jpg" alt="Random second slide">
						<div class="carousel-caption">
							<h4 class="text-white font-bold">Amor</h4>
							<p>Los perritos son seres de amor</p>
						</div>
					</ng-template>
					
				</ngb-carousel>

			
			</div>
		</div>
	</div>
	
</div>